@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    background-color: rgb(181, 207, 199);
}

.calculator {
    margin-top: 100px;
    width: 400px;
    height: 500px;
    background-color: rgb(68, 66, 66);
    border: 3px solid black;
}

.display {
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
    height: 50px;
    width: 310px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
}

.input-container {
    background-color: rgb(68, 66, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.util-container {
    padding-top: 10px;
    background-color: rgb(68, 66, 66);
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.util-button {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(243, 120, 120);
}



.number-list {
    width: 360px;
    margin-left: auto;
    background-color: rgb(68, 66, 66);
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 3px;
}

.number-input {
    background-color: orange;
    font-family: 'Orbitron', sans-serif;
}

.operation-input,
.equals-input {
    background-color: beige;
    font-family: 'Orbitron', sans-serif;
}

button {
    width: 77px;
    height: 75px;
}

.util-button {
    width: 150px;
    height: 50px;
}



